@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}
h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}
hr {
    width: 100%;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    margin: 0;
}